.topNav{

    background-color: black;
    color: white;
    height: 40px;
    padding: 10px 30px 10px 30px;
    align-items: center;

}
.mainNav{
    padding: 0px 30px 0px 30px;
    align-items: center; 
    border: 1px solid red;
}

.mainNav Box{
    border: 1px solid red;
    display: flex;
    align-items: center;
}
.check{
    border: 1px solid red;
    display: flex;
    align-items: center;
}

.navCont{
    border: 1px solid red;
    display: flex;
    align-items: center;
    gap: 50px;
}
.navCont>div{
    width: 30%;
    display: flex;
    align-items: center;

}
.navCont>div:nth-child(3){
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.check>div{
    width: 20%;
}